.barbers {
  background-color: $light-backround-color;
  }

.barbers-container{
 
  @media (min-width: 768px) {
    padding: 0 159px;
  }
  @media (min-width: 1200px) {
    padding: 0;
  }
}

.barbers-pre-title {
  color: $dark-title-color;
}

.barbers-title {
  color: $dark-title-color;
}

.barbers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.barbers-item {
  @media (min-width: 1200px) {
    width: calc((100% - 60px) / 3);
  }
}

.barbers-item-title {
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: $dark-title-color;
  margin-top: 30px;
  margin-bottom: 8px;
}

.barbers-item-text {
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;
  color: $accent-color;
  margin-bottom: 30px;
}

.barbers-soc-item {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
}

.barber-soc-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 12px;
  border-radius: 50%;
  transition-property: fill $dark-backround-color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.barber-soc-link:hover,
.barber-soc-link:focus {
  fill: $accent-color;
  background-color: $dark-backround-color;
}

.barbers-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
