.hero-container {
  display: flex;
  padding-right: 0;
  justify-content: flex-end;
}

.hero {
}

.hero-soc {
  width: 100px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 40px;
  padding-left: 40px;

  @media (max-width: 767px) {
    display: none;
  }
}

.social-list {
  display: flex;
  gap: 40px;
  align-items: center;
  transform: rotate(-90deg);
  translatey: 100%;
  transform-origin: bottom left;
}

.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  padding-top: 40px;
  color: $dark-title-color;
  transition-property: color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  &:hover {
    color: $accent-color;
  }
}

.social-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background: currentColor;
}

/* --------hero------------ */
.hero-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-image: url(../images/Slider\ img\ 3\ mob\ 1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 208px 113px 209px 31px;
  @media (min-width: 768px) {
    gap: 20px;
    background-image: url(../images/Slider\ img\ 1\ tab\ 1x.jpg);
    padding: 307px 156px 317px 118px;
  }
  @media (min-width: 1200px) {
    gap: 20px;
    background-image: url(../images/Slider\ img\ 1.jpg);
    padding: 272px 526px 208px 100px;
  }
}

.hero-title {
  font-family: Raleway;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;

  color: $light-title-color;
}
@media (min-width: 1200px) {
  .hero-title {
    font-family: Raleway;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.6px;
  }
}

.hero-pre-title {
  margin: 0;
  color: $dark-pre-title-color;
}

.hero-after-title {
  width: 336px;
  height: 52px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62;
  letter-spacing: 0.32px;
  color: $secondary-text-color;
}
@media (min-width: 1200px) {
  .hero-after-title {
    width: 358px;
    height: 60px;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: $secondary-text-color;
  }
}
