body {
  font-family: "Open Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @media (min-width: 480px) {
    width: 460px;
  }
  @media (min-width: 768px) {
    width: 738px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
}
